<div class="top">
    <div class="profilepic"></div>
    <h2>Nombre del reclutador</h2>
</div>
<div class="content">
    <div class="social">
        <div class="locate">
            <mat-icon>location_on</mat-icon>
            <h3>Dirección</h3>
        </div>
    </div>
    <div class="personalinfo">
        <ul>
            <li>Instituciones</li>
            <li>Actualmente en</li>
            <li>Telefonos</li>
            <li>Correo Electronico</li>
        </ul>
        <button mat-raised-button color="green">Editar info</button>
    </div>
</div>