<div style="padding: 50px; padding-top: 25px">
  <button
    style="margin-bottom: 10px"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    (click)="volver()"
  >
    <mat-icon style="font-weight: 900">keyboard_backspace</mat-icon>
  </button>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ this.assessment.title }}</mat-card-title>
      <mat-card-subtitle>{{
        this.assessment.recruiterInstitution
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="padding: 25px">
      <div
        *ngFor="let stage of assessment.assessmentStages"
        style="padding: 10px"
      >
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> {{ stage.title }} </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let activity of stage.activities" style="padding-bottom: 10px;">
                <mat-chip-row  style="background-color: #ffffff;">
                {{activity.name}}
                <button matChipRemove >
                    <mat-icon>cancel</mat-icon>
                </button>
                </mat-chip-row>
            </div>

            <div style="text-align: right;">
                <button
              mat-flat-button
              color="warn"
              aria-label="Example icon button with a filter list icon"
            >
              <mat-icon>delete</mat-icon>Eliminar Fase
            </button>
            <button style="margin-left: 10px;"
              mat-flat-button
              class="primary-button"
              aria-label="Example icon button with a filter list icon"
            >
              <mat-icon>add</mat-icon>Agregar Actividad
            </button>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>
    <mat-card-actions align="end" style="margin: 10px;">
      <button mat-button (click)="volver()">Cancelar</button>
      <button mat-button class="primary-button" style="margin-left: 10px;">Guardar</button>
    </mat-card-actions>
  </mat-card>
</div>
