
<mat-nav-list>
    <a mat-list-item routerLink="home" class="item-menu">
      <mat-icon class="mat-icon-position">home</mat-icon>
      <div class="menu-text">Home</div>
    </a>
    <a mat-list-item class="item-menu" routerLink="assessment/schedule-interview">
      <mat-icon class="mat-icon-position">missed_video_call</mat-icon>
      <div class="menu-text">Interviews</div>
    </a>
    <a mat-list-item class="item-menu" routerLink="assessment/tests">
      <mat-icon class="mat-icon-position">missed_video_call</mat-icon>
      <div class="menu-text">Tests</div>
    </a>
    <a mat-list-item class="item-menu" routerLink="assessment">
      <mat-icon class="mat-icon-position">assignment_turned_in</mat-icon>
      <div class="menu-text">Assessments</div>
    </a>
    <a mat-list-item class="item-menu" routerLink="">
      <mat-icon class="mat-icon-position">notifications_active</mat-icon>
      <div class="menu-text">Notifications</div>
    </a>
    <a mat-list-item class="item-menu" routerLink="iam/recruiter-profile">
      <mat-icon class="mat-icon-position">account_circle </mat-icon>
      <div class="menu-text">Profile</div>
    </a>
    <mat-divider></mat-divider>
    <a routerLink="login"
      mat-list-item
      class="item-menu"
      style="position: fixed; bottom: 0; left: 0; width: 290px"
    >
      <mat-icon class="mat-icon-position" >logout</mat-icon>
      <div class="menu-text">Log out</div>
    </a>
  </mat-nav-list>
