<div style="padding: 50px; padding-top: 25px">
  <button
    style="margin-bottom: 10px"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    (click)="volver()"
  >
    <mat-icon style="font-weight: 900">keyboard_backspace</mat-icon>
  </button>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Create Test</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="text-align: center" class="label-muted">
        <div style="width: 100%">Title</div>
        <mat-form-field [style.width.px]="227">
          <input matInput [(ngModel)]="newTest.title" />
        </mat-form-field>
      </div>
      <div style="text-align: center" class="label-muted">
        <div style="width: 100%">Minimun Score</div>
        <mat-form-field [style.width.px]="227">
          <input matInput [(ngModel)]="newTest.minimunScore" />
        </mat-form-field>
      </div>
      <mat-card-title>Questions</mat-card-title>

      <div style="text-align: center" class="label-muted">
        <div style="width: 100%">Statement</div>
        <mat-form-field style="width: 50%">
          <textarea matInput [(ngModel)]="newQuestion.statement"></textarea>
        </mat-form-field>
      </div>
      <div style="text-align: center" class="label-muted">
        <div style="width: 100%">Points</div>
        <mat-form-field style="width: 50%">
          <input matInput [(ngModel)]="newQuestion.points" type="number" />
        </mat-form-field>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <div style="width: 50%; text-align: right">
          <button
            mat-raised-button
            style="margin-bottom: 20px"
            class="primary-button"
            (click)="addQuestionList()"
          >
            <span>Add Question</span>
          </button>
        </div>
      </div>
      <div
        style="display: flex; justify-content: center; align-items: center"
        *ngFor="let question of questions"
      >
        <mat-card style="width: 50%; margin: 10px">
          <mat-card-title style="margin: 10px">{{
            question.statement
          }}</mat-card-title>

          <mat-card-subtitle style="margin: 10px"
            >Points: {{ question.points }}</mat-card-subtitle
          >
          <div style="justify-content: center; align-items: center">
            <div style="text-align: right; margin: 20px">
              <button
                mat-raised-button
                class="primary-button"
                (click)="dialogOptions()"
              >
                <span>Options</span>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
