<div class="register-form">
    <h2>Teacher Finder</h2>
    <h2>New teacher registering</h2>
    <h3>Enter your data bellow</h3>
    <mat-form-field class="data">
        <mat-label>First Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>Last Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>Identity Document Number</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>Personal e-mail</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>Telephone Number</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>City</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="data">
        <mat-label>Country</mat-label>
        <input matInput>
    </mat-form-field>
    <div class="CV-enter">
        <h3>Enter your CV here</h3>
        <input type="file" name="CV" id="CV">
    </div>
    <button class="Register"><span>Finish register</span></button>
</div>