<div class="search">
    <mat-form-field class="filter">
        <mat-label>Search</mat-label>
    </mat-form-field>
    <button mat-raised-button><span>Course</span></button>
    <button mat-raised-button><span>Modality</span></button>
    <button mat-raised-button><span>Experience</span></button>
    <button mat-raised-button><span>Type</span></button>
</div>
<div class="tests">
    <mat-card class="testcard">
        <mat-card-content>
            <h2>Evaluación: </h2>
            <p>Info de la evaluación</p>
            <mat-icon>calendar_today</mat-icon>
            <h4>dd/mm/yy</h4>
        </mat-card-content>
        <button><span>Detalles</span></button>
    </mat-card>
</div>
