<div>
  <div class="image-container">
    <img
      [src]="
        'https://img.freepik.com/vector-premium/interior-aula-dibujos-animados_273525-33.jpg?w=2000'
      "
    />
    <div class="shadow"></div>
  </div>
  <div clas="container">
    <div class="image-container2">
      <img
        [src]="
          'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB2vxPkuzbr1hLMDYq8GQg2cJ7EuFax8-Zwg&usqp=CAU'
        "
      />
      <div class="shadow"></div>
    </div>
  </div>
  <div *ngIf="loading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    "
  >
    <mat-spinner></mat-spinner>
  </div>

  <div style="padding: 50px; padding-top: 60px" *ngIf="!loading">
    <h1 style="text-align: center; width: 100%; font-weight: 500">Miguel</h1>
    <div style="text-align: end; padding-bottom: 20px">
      <button
        *ngIf="!editInformation"
        mat-raised-button
        class="primary-button text-right"
        (click)="editInformation = true"
      >
        Edit Information
      </button>
      <button
        *ngIf="editInformation"
        mat-raised-button
        style="margin-right: 10px"
        class=""
        (click)="setProfile();editInformation = false"
      >
        Cancel
      </button>
      <button
        *ngIf="editInformation"
        mat-raised-button
        (click)="saveInformation()"
        class="primary-button text-right"
      >
        Save
      </button>
    </div>
    <mat-tab-group style="background-color: white">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 5px">book icon</mat-icon>Academic
          Information
        </ng-template>
        <div style="margin: 40px">
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">School</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.academicInformation.school"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Speciality</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.academicInformation.specialty"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Reference</div>
            <mat-form-field [style.width.px]="227">
              <textarea
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.academicInformation.reference"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 5px">account_circle</mat-icon>Contact
          Information
        </ng-template>
        <div style="margin: 40px">
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Phone</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.contactInformation.phone"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Email</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.contactInformation.email"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Mobile Phone</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.contactInformation.mobilePhone"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon style="margin-right: 5px">face icon</mat-icon>Personal
          Information
        </ng-template>
        <div style="margin: 40px">
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Name</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.personalInformation.name"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Lastname</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.personalInformation.lastname"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">DNI</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.personalInformation.dni"
              />
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Birth Date</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [matDatepicker]="picker"
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.personalInformation.birthDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker
                [disabled]="!editInformation"
              ></mat-datepicker>
            </mat-form-field>
          </div>
          <div style="text-align: center" class="label-suave">
            <div style="width: 100%">Address</div>
            <mat-form-field [style.width.px]="227">
              <input
                matInput
                [readonly]="!editInformation"
                [(ngModel)]="profileInformation!.personalInformation.address"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div style="margin-bottom: 10px; padding-bottom: 10px">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon style="margin-right: 15px; margin-top: -3px"
                >work</mat-icon
              >Job Experience Information
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="text-align: end">
            <button
              mat-raised-button
              class="primary-button text-right"
              (click)="openDialogAddExperience()"
            >
              Add Experience
            </button>
          </div>

          <h1 *ngIf="!profileInformation!.jobExperienceInformations.length" style="text-align: center; margin-top: 30px;">
            No recorded experience</h1>
          <mat-card 
            *ngFor="let experience of profileInformation!.jobExperienceInformations"
            class="example-card"
          >
            <mat-card-header>
              <mat-card-title>{{ experience.position }}</mat-card-title>
              <mat-card-subtitle>{{ experience.company }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ experience.time }}</p>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
