<div style="padding: 50px; padding-top: 25px">
  <button
    style="margin-bottom: 10px"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    (click)="volver()"
  >
    <mat-icon style="font-weight: 900">keyboard_backspace</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title
      ><h1 style="font-weight: 500">Add Video Presentation</h1></mat-card-title
    >
  </mat-card-header>
  <mat-card
    class="example-card"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <div
      *ngIf="showSpinner"
      style="
        display: flex;
        margin: 40px;
        justify-content: center;
        align-items: center;
        height: 100%;
      "
    >
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!showSpinner">
      <input
        style="display: none"
        type="file"
        (change)="transcription($event)"
        #fileUpload
      />
      <button
        mat-icon-button
        style="height: 30dvh; width: 30dvh; margin: 40px"
        aria-label="Example icon button with a vertical three dot icon"
        (click)="fileUpload.click()"
      >
        <mat-icon style="font-weight: 300; transform: scale(10)"
          >control_point</mat-icon
        >
      </button>
      <div>
        <div style="width: 100%; font-weight: 500; font-size: medium; margin: 10px;">Analysis Result</div>
        <mat-form-field style="width: 100%">
          <textarea
            matInput
            [(ngModel)]="analisis"
            style="height: 200px"
           
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: right">
      <button
        mat-button
        class="primary-button"
        style="margin: 20px; margin-top: 0px"
        (click)="send()"
      >
        Send
      </button>
    </div>
  </mat-card>
</div>
