*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profilepic{
    width: 12.5rem;
    height: 12.5rem;
}
.personalinfo{
    width: 33.813rem;
    height: 32.938rem;
    margin-right: 2.25rem;
    align-items: center;
}
.personalinfo button{
    width: 5.95rem;
    height: 2.5rem;
    border-radius: 5rem;
    font-size: 0.875rem;
    line-height: 0.9rem;
    margin-top: 5rem;
    margin-left: 27rem;
    background-color: #171740 !important;
    color: white !important;
    font-weight: 500 !important;
}
.personalinfo h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.55rem;
    width: 13.313rem;
    margin-top: 1.05rem;
    margin-left: 9.55rem;
    height: 1.25rem;
}
.resume{
    font-family: 'Work Sans';
    font-size: 1.25rem;
    line-height: 1.275rem;
    width: 29.25rem;
}
.content{
    position: relative;
    display: flex;
    margin-top: 7rem;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}
.social{
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
}
.locate{
    display: flex;
    gap: 1.10rem;
    align-items: left;
    width: 12.5rem;
    height: 4rem;
}
.locate h3{
    font-size: 1.5rem;
    line-height: 1.55rem;
    font-family: 'Work Sans';
}
.available-recruiter{
    align-items: center;
    width: 15.313rem;
    height: 4.375rem;
}
.available-recruiter h3{
    font-size: 1.5rem;
    line-height: 1.55rem;
    font-family: 'Mulish';
}
mat-card{
    display: flex;
    gap: 0.50rem;
}
mat-card-footer h2{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.85rem;
}