<div class="top">
    <div class="profilepic"></div>
    <h2>I.E.P. "Santa Rosa"</h2>
</div>
<div class="content">
    <div class="social">
        <div class="locate">
            <mat-icon>location_on</mat-icon>
            <h3>Lima, Peru</h3>
        </div>
        <div class="available-recruiter">
            <h3>Recruiters:</h3>
            <mat-card>
                <mat-card-content>
                    <img src="" class="recpic">
                    <h3>Erick Cruz</h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="personalinfo">
        <p class="resume">
            We have been training outstanding 
            professionals for more than 20 years and 
            have been the benchmark school in the region since 
            1999, we have the best athletes and mathematical champions in the field and the
            best teachers, all of them with great 
            experience with national and international
            recognition
        </p>
        <button mat-raised-button color="accent"><span>Edit info</span></button>
    </div>
</div>