*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profilepic{
    width: 12.5rem;
    height: 12.5rem;
}
.personalinfo{
    width: 34.375rem;
    height: 28.625rem;
    margin-left: 9rem;
    align-items: center;
}
.personalinfo button{
    width: 7.35rem;
    height: 3.125rem;
    border-radius: 5rem;
    font-size: 1.15rem;
    margin-top: 5rem;
    margin-left: 27rem;
    background-color: #171740 !important;
    color: white !important;
    font-weight: 500 !important;
}
.personalinfo h2{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    width: 29.688rem;
    margin-top: 2rem;
    margin-left: 9.55rem;
    height: 5rem;
}
.resume{
    font-size: 1.75rem;
    line-height: 2.15rem;
    box-sizing: border-box;
}
.content{
    position: relative;
    display: flex;
    margin-top: 7rem;
    margin-left: 5rem;
    justify-content: center;
    align-items: center;
}
.social{
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
}
.locate{
    display: flex;
    gap: 1.10rem;
    align-items: left;
    width: 12.5rem;
    height: 4rem;
}
.locate h3{
    font-size: 1.75rem;
    line-height: 3rem;
}
.available-recruiter{
    align-items: center;
}
.available-recruiter h3{
    font-size: 1.25rem;
}
.mat-card-content{
    display: flex;
    gap: 0.50rem;
}