<div class="content">
    <div class="social">
        <div class="profilepic"></div>
        <div class="locate">
            <mat-icon>location_on</mat-icon>
            <h3 [(ngModel)]="inst.address"></h3>
        </div>
        <div class="available-recruiter">
            <h3>Recruiters:</h3>
            <mat-card>
                <mat-card-content>
                    <img src="inst.image" class="recpic">
                    <h3>Erick Cruz</h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="personalinfo">
        <mat-card>
            <mat-card-header>
                <h2 [(ngModel)]="inst.name"></h2>
            </mat-card-header>
            <mat-card-content>
                <p [(ngModel)]="inst.description" class="resume"></p>
            </mat-card-content>
            <mat-card-footer>
                <h2 [(ngModel)]="inst.phoneNumber"></h2>
                <a href="inst.urlWebPage"><h2>Our web</h2></a>
            </mat-card-footer>
        </mat-card>
        <button mat-raised-button color="accent" routerLink="/home"><span>Edit info</span></button>
    </div>
</div>