  <div style="display: flex;justify-content: end">
    <div style="width: 50%;">
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
            <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" [(ngModel)]="value">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <div style="width: 50%;display: flex;justify-content: end;">
      <mat-card class="example-card" style="align-items: end;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Erick Cruz</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button  style="margin: 2%;background-color: #ffbc3c;font-size: 15px;" (click)=createOffer()>Create Offer</button>
            <button mat-raised-button color="primary" style="margin: 2%;">Course</button>
            <button mat-raised-button color="primary" style="margin: 2%;">Modality</button>
            <button mat-raised-button color="primary" style="margin: 2%;">Experience</button>
            <button mat-raised-button color="primary" style="margin: 2%;" >Type</button>
          
          
        </mat-card-actions>
      </mat-card>
    </div>
        
  </div>

    <div style="display: flex;justify-content: center;max-width: 100%;">

      <div style="width: 50%;height: 100%; transition: width 0.3s, height 0.3s;" >
        <div *ngFor="let jobOffer of jobOffers" style="margin: 2%;box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.4);" (click)=viewOffer(jobOffer.id-1) class="oferta">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{jobOffer.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{jobOffer.description}}
              </p>
              <br>
              <div class="row" style="display: flex; align-items: center; padding-top: 10px;"> 
                <mat-icon class="mat-icon-position" style="padding-right: 8px;padding-bottom: 2px;">date_range</mat-icon>
                {{jobOffer.initialDate| date:'short'}}
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  
      <div style="width:50%">
        <div style="height: 100%;margin: 2%;">
          <mat-card class="example-card" style="height: 100%;box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.4);">
            <mat-card-header>
              <mat-card-title *ngIf="modify==false">{{jobOfferExpanded.title}}</mat-card-title>
              <mat-card-title *ngIf="modify==true"><mat-form-field><input matInput type="text" placeholder={{jobOfferExpanded.title}} [(ngModel)]="jobOfferExpanded.title"></mat-form-field></mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div style="display: flex;flex-direction:column;justify-content: center;gap: 60px;margin: 10%;">
                {{jobOfferExpanded.description}}
                <ul>
                  <li>3 years of experience</li>
                  <li>math domain</li>
                  <li>good comunication</li>
                  <li>equipo work</li>
                </ul>
                <br>
                Benefits:
                <ul>
                  <li>S/ 3000 per month</li>
                  <li>Good Work Enviroment</li>
                </ul>

                <div class="row" style="display: flex; align-items: center; padding-top: 10px;"> 
                  <mat-icon class="mat-icon-position" style="padding-right: 8px;padding-bottom: 2px;">date_range</mat-icon>
                  
                </div>

                <button mat-raised-button color="primary" (click)="modify=true"  *ngIf="modify==false"><span>Modify</span></button>
                <button mat-raised-button color="primary" (click)="modify=false" (click)=save() *ngIf="modify==true"><span>Save</span></button>

              </div>
              
                
   
            </mat-card-content>
            
          </mat-card>
      </div>

    </div>

   

  
