<div style="padding:50px">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title style="font-size:x-large;">
           Docente de primaria para curso de Matemáticas
            </mat-panel-title>
            <mat-panel-description style="justify-content: end">
            23 postulantes
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Fecha de inicio: 20/04/2023</p>
        <p>Fecha de finalización prevista: 20/05/2023</p>
        <p>Etapas</p>
        <li>Evaluación de video de presentación</li>
        <li>Test de conocimientos</li>
        <li>Entrevista</li>
        </mat-expansion-panel>
    </mat-accordion>
</div>

