<div style="padding: 25px">
  <h1 style="width: 100%; text-align: center; font-weight: 500;">Evaluation Processes</h1>
    <div *ngFor="let jobOffer of jobOffers" style="padding: 10px;"> 
    <mat-accordion>
        <mat-expansion-panel hideToggle [expanded]="true">
          <mat-expansion-panel-header style="width: 100%; padding: 10px; display: contents; ">
            <mat-panel-title style=" display: contents;
            width: 100%;">
              <div style="width: 100%; padding: 20px;">
                <div class="row" style="padding-top: 10px; padding-bottom: 0px">
                  {{jobOffer.title}}
                  <p style="padding-top: 10px; padding-bottom: 0px">
                    {{jobOffer.description}}
                  </p>
                </div>
                <div class="row" style="display: flex; align-items: center; padding-top: 10px;">
                  <mat-icon class="mat-icon-position" style="padding-right: 8px"
                    >date_range</mat-icon> Start Date:
                  {{jobOffer.initialDate| date :'short'}}
                  <mat-icon class="mat-icon-position" style="padding-right: 8px; padding-left: 20px;"
                    >date_range</mat-icon> Finish Date:
                  {{jobOffer.endDate| date :'short'}}
                </div>
              </div>
              <div style="display: flex; justify-content: end;padding-right: 10px;
              align-items: center;">
                <mat-chip-option
                style="background-color: #11b774;
                  color: white !important;
                  font-weight: 500;"
                [selected]="jobOffer.availability==availability.AVAILABLE"
                selectable="false"
                >{{jobOffer.availability}}</mat-chip-option
              >
              </div>
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <div style="text-align: right; width: 100%; padding-top: 20px;">
            <button mat-flat-button class="primary-button" (click)="verApplications(jobOffer.id)">View Applications</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="jobOffers.length==0" style="text-align: center; display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;">
        You have no assessments
      </div>
</div>
