.example-form-field{
    margin: 2%;
    width: 31.25rem;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover; 
}

.oferta{
    width: 90%; 
    transition: width 0.3s, height 0.3s;
}

.oferta:hover{
    width: 95%;
}